version: '3.4'

networks:
  k6:
  grafana:

services:
  influxdb:
    image: influxdb:1.8
#    entrypoint: /bin/sh
#    user: root
    networks:
      - k6
      - grafana
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=k6

  grafana:
    image: grafana/grafana:latest
#    entrypoint: /bin/sh
#    user: root
    networks:
      - grafana
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    volumes:
      - ./performance/dashboards:/var/lib/grafana/dashboards
      - ./performance/grafana-dashboard.yaml:/etc/grafana/provisioning/dashboards/dashboard.yaml
      - ./performance/grafana-datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml

  sponsors_smoke:
    image: loadimpact/k6
    container_name: test_k6
    networks:
      - k6
    environment:
      - K6_OUT=influxdb=http://influxdb:8086/k6
    volumes:
       - ./performance/:/performance
    command: run //performance//tests//api//sap//sponsors//sponsors_smoke.js
    ports:
       - "6565:6565"

  sponsors_load:
    image: loadimpact/k6
    container_name: test_k6
    networks:
      - k6
    environment:
      - K6_OUT=influxdb=http://influxdb:8086/k6
    volumes:
       - ./performance/:/performance
    command: run //performance//tests//api//sap//sponsors//sponsors_load.js
    ports:
       - "6566:6566"

  sponsors_stress:
    image: loadimpact/k6
    container_name: test_k6
    networks:
      - k6
    environment:
      - K6_OUT=influxdb=http://influxdb:8086/k6
    volumes:
       - ./performance/:/performance
    command: run //performance//tests//api//sap//sponsors//sponsors_stress.js
    ports:
       - "6566:6567"


  k6-cli:
    image: loadimpact/k6:latest
    # entrypoint: /bin/sh
    # user: root
    networks:
       - k6
    ports:
       - "9090:9090"
    environment:
       - K6_OUT=influxdb=http://influxdb:8086/k6
    volumes:
       - ./performance/:/performance

      